@mixin tag-border($y, $x, $color) {
  width: fit-content;
  border: 1px solid $color;
  padding: $y $x;
  border-radius: 15px;
}

@mixin mini-button {
  background-color: $minor;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
}

@mixin round-button($width, $bg, $color, $border) {
  width: $width;
  height: fit-content;
  border-radius: 50px;
  background-color: $bg;
  font-weight: 500;
  color: $color;
  border: $border solid $primary-color;
}

// TODO
@mixin rectangle-button {
}

@mixin profile-display-size($y) {
  width: $y;
}

@mixin button {
}

@mixin btn-icon {
  color: $primary-color;
  font-size: 1rem;
  font-weight: bolder;
}

// @mixin followBtn {
//   .button {
//     display: flex;
//     width: 35%;
//     align-items: center;
//     .followBtn {
//       width: 100%;
//       font-size: 12px;
//       padding: 4px 5px;
//       border-radius: 3px;
//     }
//   }
// }

@mixin container($y, $x, $color) {
  background-color: $white;
  color: $color;
  width: $y;
  height: $x;
  padding: 15px;
  padding-top: 20px;

  border-radius: 10px;
}

@mixin thumbnailsize($x) {
  width: $x;
}

@mixin profile_page() {
}
