@import '../../assets/scss/main';

.serviceDetails {
  background-color: $white;
  color: $black;
  margin-bottom: 0px;

  .top {
    display: flex;
    height: fit-content;
    .userInfo {
      width: 50%;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;

      .profileSnipt {
        margin-top: 30px;
        justify-content: center;
        margin-bottom: 50px;
      }
    }

    .serviceInfo {
      width: 50%;
      border: 1px solid black;
      text-align: left;
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 50px;

      .desc {
        height: fit-content;
        min-height: 150px;
        background-color: rgb(234, 234, 234);
        padding: 10px;
      }
      .duration {
        height: fit-content;
        min-height: 50px;
        background-color: $minor;
        padding: 10px;
      }
    }
  }
}

.second {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  span {
    font-size: 0.8rem;
    margin-right: 15px;
  }
}

.btn_container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  .btn {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.1rem;
    font-weight: 500;
  }
}
